@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url(./style-start.css);
*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#d87a50 1px, transparent 1px),
    radial-gradient(#d87a50 1px, transparent 1px);
  background-size: 61px 61px;
  background-position: 0 0, 30.5px 30.5px;
  background-color: #240b4a;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-top: 7vh;
  margin-bottom: 4vh;
  backdrop-filter: blur(2px) grayscale(0.2);
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 1.5em;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: 0 3vw 0 8vw;
  border: 2px solid #d87a50;
  border-radius: 60px;
  background-color: #3b2f4b;
}

.icons {
  height: 7em;
  width: 7em;
  margin: 0 11px 0 11px;
}

.charactersImg {
  height: 9em;
  width: 9em;
  cursor: pointer;
  transition: 100ms;
}

.charactersImg:hover {
  transform: scale(1.2);
}

button {
  background-color: transparent;
  border: none;
}

#game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 50vw;
  margin-right: 8vw;
  border: 1px solid lightgray;
  border-radius: 1em;
  background: #ae613e;
  background: -webkit-linear-gradient(37deg, #ae613e 0%, #240b4a 100%);
  background: linear-gradient(37deg, #ae613e 0%, #240b4a 100%);
}

.gameDivs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resultsName {
  font-size: 17px;
  font-family: "Press Start 2P", cursive;
  color: white;
  margin: 0 10% 0 10%;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 15em;
  margin: 0 2em 0 2em;
  border-bottom: 1px solid white;
}

.gameImg {
  height: 90%;
  align-content: center;
}

#winner {
  height: 2em;
  font-family: "Press Start 2P", cursive;
  color: #daa38a;
  font-size: 2em;
}

.gameResults {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  height: 10em;
  width: 6em;
  border: 1px solid white;
}

#leftGameResults,
#rightGameResults {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

#rightGameResults {
  border-right: none;
}

.gameResults span {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

#youResults,
#computerResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13em;
  width: 6em;
  font-family: "Press Start 2P", cursive;
  color: #daa38a;
  font-size: 18px;
}

#gameRules {
  width: 33em;
  height: 12em;
  margin: -18vh 0 0 8vw;
  border-left: 2px solid #d87a50;
  color: white;
  font-size: 0.9em;
  overflow-y: scroll;
  /*scrollbar-color: #daa38a #240b4a;*/
  text-align: justify;
  font-family: "Abel", sans-serif;
}

#scroller {
  margin: 1em;
}

.addSpace {
  margin-bottom: 10px;
}

.leftMargin {
  margin: 2em;
}

.mayTheForce {
  text-align: center;
}

.hidden {
  display: none;
}
/* SPINNER !!! */
.spinner {
  margin: auto;
  position: sticky;
  bottom: 20px;
  width: 9.6px;
  height: 9.6px;
  margin-left: 95%;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  animation: spinner-b4c8mmmn 0.5s backwards,
    spinner-49opz7mn 1.25s 0.5s infinite ease;
  border: 2.4px solid #d87a50;
  border-radius: 50%;
  box-shadow: 0 -14.4px 0 -2.4px #d87a50;
  position: absolute;
}

.spinner::after {
  animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmn {
  from {
    box-shadow: 0 0 0 -2.4px #d87a50;
  }
}

@keyframes spinner-49opz7mn {
  to {
    transform: rotate(360deg);
  }
}

#modal {
  height: 20vh;
  width: 40vw;
  background-color: #533e6c;
  border-color: lightgray;
  border-radius: 20px;
}

#modal::backdrop {
  backdrop-filter: blur(2px) grayscale(0.6);
}

#dialogDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#end-game-message {
  font-family: "Press Start 2P", cursive;
  color: white;
  margin-top: 2em;
}

#dialogBtn {
  cursor: pointer;
  margin-top: 4em;
}
